<a href="https://colab.research.google.com/github/satyam26en/JOB/blob/main/Clean_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Import Libraries and Download the Dataset**

In [26]:
import pandas as pd
import requests
import re
from sklearn.feature_extraction.text import CountVectorizer
from io import BytesIO
from zipfile import ZipFile
from urllib.parse import urlparse
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
url = 'https://github.com/satyam26en/JOB/blob/main/jobs.zip?raw=true'
response = requests.get(url)
if response.status_code == 200:
    zip_file = BytesIO(response.content)
    with ZipFile(zip_file) as z:
       print(z.namelist())
       with z.open('jobs.csv') as f:
            jobs_df = pd.read_csv(f)
else:
    print(f"Failed to download file: {response.status_code}")
jobs_df.head()

['jobs.csv']

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",1 Day Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...

# **2. Initial Examination**

### 1. Display the first few rows of the dataset

In [4]:
print("First few rows of the dataset:")
print(jobs_df.head())

First few rows of the dataset:
         job_id                                           job_role    company  \
0  7.012301e+10      Branch Banking - Calling For Women Candidates  Hdfc Bank
1  6.012391e+10                       Product Owner Senior Manager  Accenture
2  6.012391e+10  Employee Relations and Policies Associate Manager  Accenture
3  6.012391e+10         Employee Relations and Policies Specialist  Accenture
4  6.012301e+10                                  SAP BO Consultant   Mindtree

  experience         salary  \
0    1-6 Yrs  Not disclosed
1  11-15 Yrs  Not disclosed
2    3-7 Yrs  Not disclosed
3    3-7 Yrs  Not disclosed
4    5-7 Yrs  Not disclosed

                                            location  rating        reviews  \
0  Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...     4.0  39110 Reviews
1  Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...     4.1  32129 Reviews
2  Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...     4.1  32129 Reviews
3  Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...     4.1  32129 Reviews
4  Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...     4.1   3759 Reviews

                                     resposibilities  posted_on  \
0     Customer Service,Sales,Relationship Management  1 Day Ago
1  Product management,Market analysis,Change mana...  1 Day Ago
2  Business process,Change management,Team manage...  1 Day Ago
3  Business process,Change management,Team manage...  1 Day Ago
4  SAP BO,PL / SQL,Oracle SQL,SAP Business Object...  1 Day Ago

                                            job_link  \
0  https://www.naukri.com/job-listings-branch-ban...
1  https://www.naukri.com/job-listings-product-ow...
2  https://www.naukri.com/job-listings-employee-r...
3  https://www.naukri.com/job-listings-employee-r...
4  https://www.naukri.com/job-listings-sap-bo-con...

                                        company_link
0  https://www.naukri.com/hdfc-bank-jobs-careers-213
1  https://www.naukri.com/accenture-jobs-careers-...
2  https://www.naukri.com/accenture-jobs-careers-...
3  https://www.naukri.com/accenture-jobs-careers-...
4  https://www.naukri.com/mindtree-jobs-careers-3...

### 2.  Dataset summary

In [5]:
print("\nDataset summary:")
print(jobs_df.info())

Dataset summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79147 entries, 0 to 79146
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_id           78667 non-null  float64
 1   job_role         78667 non-null  object
 2   company          78666 non-null  object
 3   experience       77398 non-null  object
 4   salary           78667 non-null  object
 5   location         77441 non-null  object
 6   rating           42948 non-null  float64
 7   reviews          42948 non-null  object
 8   resposibilities  78647 non-null  object
 9   posted_on        78667 non-null  object
 10  job_link         78667 non-null  object
 11  company_link     78667 non-null  object
dtypes: float64(2), object(10)
memory usage: 7.2+ MB
None

### 3. Check for missing values

In [6]:
print("\nMissing values in each column:")
print(jobs_df.isnull().sum())

Missing values in each column:
job_id               480
job_role             480
company              481
experience          1749
salary               480
location            1706
rating             36199
reviews            36199
resposibilities      500
posted_on            480
job_link             480
company_link         480
dtype: int64

# **3  Data Cleaning and Preparation**

In [7]:
# Correct column name if necessary (e.g., responsibilities might be resposibilities)
jobs_df.rename(columns={'resposibilities': 'responsibilities'}, inplace=True)

# Handling missing values
jobs_df.dropna(subset=['job_role', 'company', 'posted_on', 'job_link', 'company_link'], inplace=True)
jobs_df['experience'].fillna('Not specified', inplace=True)
jobs_df['location'].fillna('Unknown', inplace=True)
jobs_df['rating'] = pd.to_numeric(jobs_df['rating'], errors='coerce')

# Convert reviews to string first
jobs_df['reviews'] = jobs_df['reviews'].astype(str).str.replace(' Reviews', '').astype(float, errors='ignore')

median_rating = jobs_df['rating'].median()
median_reviews = jobs_df['reviews'].median()
jobs_df['rating'].fillna(median_rating, inplace=True)
jobs_df['reviews'].fillna(median_reviews, inplace=True)
jobs_df['responsibilities'].fillna('Not specified', inplace=True)

# Correcting data types
jobs_df['job_id'] = jobs_df['job_id'].astype(str)
jobs_df['experience'] = jobs_df['experience'].str.strip()
jobs_df['salary'] = jobs_df['salary'].str.strip()
jobs_df['location'] = jobs_df['location'].str.strip()
jobs_df = jobs_df.drop_duplicates()
print(jobs_df.isnull().sum())

job_id              0
job_role            0
company             0
experience          0
salary              0
location            0
rating              0
reviews             0
responsibilities    0
posted_on           0
job_link            0
company_link        0
dtype: int64

# **4. Exploratory Data Analysis (EDA)**

### 1.  job_id

In [19]:
# Check for uniqueness of 'job_id'
unique_job_ids = jobs_df['job_id'].nunique()
print(f"Unique job_id entries: {unique_job_ids}")

# Check for duplicates in 'job_id'
duplicate_job_ids = jobs_df['job_id'].duplicated().sum()
print(f"Number of duplicate job_ids: {duplicate_job_ids}")

# Check for missing values in 'job_id'
missing_job_ids = jobs_df['job_id'].isnull().sum()
print(f"Number of missing job_ids: {missing_job_ids}")

# Remove duplicates if any
if duplicate_job_ids > 0:
    jobs_df = jobs_df.drop_duplicates(subset=['job_id'])
    print("Duplicates removed.")

# Check for consistent length of 'job_id' (optional, based on specific requirements)
job_id_lengths = jobs_df['job_id'].apply(len).unique()
print(f"Unique lengths of job_id: {job_id_lengths}")

# Ensure 'job_id' has no missing values
if missing_job_ids > 0:
    jobs_df = jobs_df.dropna(subset=['job_id'])
    print("Missing job_ids removed.")

# Verify the changes
print("\nVerification after cleaning:")
print(f"Total job_id entries: {jobs_df['job_id'].count()}")
print(f"Unique job_id entries: {jobs_df['job_id'].nunique()}")
print(f"Number of duplicate job_ids: {jobs_df['job_id'].duplicated().sum()}")
print(f"Number of missing job_ids: {jobs_df['job_id'].isnull().sum()}")

Unique job_id entries: 73008
Number of duplicate job_ids: 0
Number of missing job_ids: 0
Unique lengths of job_id: [13 14]

Verification after cleaning:
Total job_id entries: 73008
Unique job_id entries: 73008
Number of duplicate job_ids: 0
Number of missing job_ids: 0

### 2. job_role

In [9]:
# Analyze the distribution of job roles
print("\nTop 10 job roles:")
print(jobs_df['job_role'].value_counts().head(10))

# Standardize job role names (example, actual cleaning may vary)
jobs_df['job_role'] = jobs_df['job_role'].str.strip().str.title()

# Check for unique job roles
print(f"Number of unique job roles: {jobs_df['job_role'].nunique()}")

Top 10 job roles:
job_role
Business Development Executive    302
Sales Executive                   274
Java Developer                    252
Business Development Manager      248
Sales Manager                     158
Senior Software Engineer          144
Graphic Designer                  143
Business Analyst                  137
Software Engineer                 132
Dot Net Developer                 132
Name: count, dtype: int64
Number of unique job roles: 50339

### 3.  company

In [23]:
# Unique Values
unique_companies = jobs_df['company'].nunique()
print(f"Number of unique companies: {unique_companies}")

# Frequency Count
company_counts = jobs_df['company'].value_counts()
print("Frequency of each company (top 10):")
print(company_counts.head(10))

# Remove leading/trailing spaces and standardize text
jobs_df['company'] = jobs_df['company'].str.strip().str.title()

# Handle Missing Values
missing_companies = jobs_df['company'].isnull().sum()
print(f"Number of missing companies: {missing_companies}")

if missing_companies > 0:
    jobs_df['company'].fillna('Unknown', inplace=True)
    print("Missing companies filled with 'Unknown'.")

# Verify the changes
print("\nVerification after cleaning:")
print(jobs_df['company'].value_counts().head(10))
print(f"Number of unique companies after cleaning: {jobs_df['company'].nunique()}")
print(f"Number of missing companies after cleaning: {jobs_df['company'].isnull().sum()}")

Number of unique companies: 15158
Frequency of each company (top 10):
company
Lavya Associates          5128
Accenture                 2928
Hucon                      852
Varite India Pvt. Ltd.     815
Ibm                        656
Megma Services             523
Infosys                    505
D'Source                   502
Rcpc                       444
Tekpillar Services         377
Name: count, dtype: int64
Number of missing companies: 0

Verification after cleaning:
company
Lavya Associates          5128
Accenture                 2928
Hucon                      852
Varite India Pvt. Ltd.     815
Ibm                        656
Megma Services             523
Infosys                    505
D'Source                   502
Rcpc                       444
Tekpillar Services         377
Name: count, dtype: int64
Number of unique companies after cleaning: 15158
Number of missing companies after cleaning: 0

### 4. experience

In [11]:
# Remove leading/trailing spaces and standardize text
jobs_df['experience'] = jobs_df['experience'].str.strip()

# Handle Missing Values
missing_experience = jobs_df['experience'].isnull().sum()
print(f"Number of missing experience values: {missing_experience}")

if missing_experience > 0:
    jobs_df['experience'].fillna('Not specified', inplace=True)
    print("Missing experience values filled with 'Not specified'.")

# Extract and categorize experience levels
def extract_upper_range(experience):
    match = re.search(r'(\d+)-(\d+)', experience)
    if match:
        return int(match.group(2))
    match = re.search(r'(\d+)\+', experience)
    if match:
        return int(match.group(1))
    return None

# Apply the function to extract the upper range
jobs_df['upper_experience'] = jobs_df['experience'].apply(extract_upper_range)

# Function to categorize experience
def categorize_experience(upper_experience):
    if upper_experience is None:
        return 'Unknown'
    elif upper_experience <= 1:
        return 'Fresher'
    elif upper_experience <= 3:
        return 'Junior'
    elif upper_experience <= 5:
        return 'Medium'
    elif upper_experience <= 10:
        return 'Senior'
    else:
        return 'Expert'

# Apply the function to categorize experience
jobs_df['experience_category'] = jobs_df['upper_experience'].apply(categorize_experience)

# Verify the changes
print("\nVerification after cleaning:")
print(jobs_df['experience_category'].value_counts())
print(f"Number of unique experience categories: {jobs_df['experience_category'].nunique()}")
print(f"Number of missing experience values after cleaning: {jobs_df['experience'].isnull().sum()}")

Number of missing experience values: 0

Verification after cleaning:
experience_category
Senior     36512
Medium     15699
Expert      9775
Junior      8416
Fresher     2606
Name: count, dtype: int64
Number of unique experience categories: 5
Number of missing experience values after cleaning: 0

### 5. salary

In [12]:
# Remove leading/trailing spaces
jobs_df['salary'] = jobs_df['salary'].str.strip()

# Handle Missing Values
missing_salaries = jobs_df['salary'].isnull().sum()
print(f"Number of missing salary values: {missing_salaries}")

if missing_salaries > 0:
    jobs_df['salary'].fillna('Not Disclosed', inplace=True)
    print("Missing salary values filled with 'Not Disclosed'.")

# Extract and clean salary ranges
def extract_upper_salary(salary):
    if salary == "Not Disclosed":
        return None
    else:
        match = re.search(r'-\s*([\d,]+)\s*PA', salary)
        if match:
            upper_salary = match.group(1).replace(',', '')
            return int(upper_salary)
        return None

jobs_df['upper_salary'] = jobs_df['salary'].apply(extract_upper_salary)

# Categorize salaries into bands
def categorize_salary(salary):
    if pd.isna(salary):
        return 'Not Disclosed'
    elif salary < 300000:
        return 'Low'
    elif salary < 600000:
        return 'Medium'
    elif salary < 1000000:
        return 'Good'
    else:
        return 'High'

jobs_df['salary_band'] = jobs_df['upper_salary'].apply(categorize_salary)

# Verify the changes
print("\nVerification after cleaning:")
print(jobs_df['salary_band'].value_counts())

Number of missing salary values: 0

Verification after cleaning:
salary_band
Not Disclosed    41203
Medium           10542
Good             10071
High              7611
Low               3581
Name: count, dtype: int64

### 6. location

In [13]:
# Data Preprocessing
jobs_df['location'] = jobs_df['location'].str.strip().str.title().fillna('Unknown')

# TF-IDF Vectorization
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(jobs_df['location'])

# Clustering
num_clusters = 10  # Adjust the number of clusters as needed
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
jobs_df['location_cluster'] = kmeans.fit_predict(X)

# Automate Replacement Based on Clusters
cluster_replacements = {}
for cluster_num in range(num_clusters):
    cluster_locations = jobs_df[jobs_df['location_cluster'] == cluster_num]['location']
    most_common_term = cluster_locations.value_counts().idxmax()
    for location in cluster_locations.unique():
        cluster_replacements[location] = most_common_term

# Replace Synonyms
jobs_df['location'] = jobs_df['location'].replace(cluster_replacements)

# Verify the Changes
print("\nVerification after cleaning:")
print(jobs_df['location'].value_counts().head(10))
print(f"Number of unique locations after cleaning: {jobs_df['location'].nunique()}")
print(f"Number of missing locations after cleaning: {jobs_df['location'].isnull().sum()}")

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Verification after cleaning:
location
Permanent Remote          29199
Bangalore/Bengaluru       11357
Hyderabad/Secunderabad     6648
Mumbai                     5686
Delhi / Ncr                4827
Gurgaon/Gurugram           4701
Pune                       3524
Chennai                    3254
Noida                      2604
Unknown                    1208
Name: count, dtype: int64
Number of unique locations after cleaning: 10
Number of missing locations after cleaning: 0

### 7. Rating

In [14]:
# Ensure the 'rating' column is numeric
jobs_df['rating'] = pd.to_numeric(jobs_df['rating'], errors='coerce')

# Calculate the median of 'rating'
median_rating = jobs_df['rating'].median()

# Fill missing values with the median rating
jobs_df['rating'].fillna(median_rating, inplace=True)
print(f"Number of missing ratings after cleaning: {jobs_df['rating'].isnull().sum()}")

Number of missing ratings after cleaning: 0

### 8. reviews

In [15]:
# Ensure the reviews column is treated as strings
jobs_df['reviews'] = jobs_df['reviews'].astype(str)

# Step 2: Clean and Extract Numeric Values from the Reviews Column
def extract_review_number(review_str):
    if pd.isna(review_str):
        return None
    numbers = re.findall(r'\d+', str(review_str))
    return int(numbers[0]) if numbers else None

# Extract numeric review values
jobs_df['numeric_reviews'] = jobs_df['reviews'].apply(extract_review_number)

# Display the numeric reviews
numeric_reviews = jobs_df['numeric_reviews'].dropna().unique()

# Sort and display the top 10 numeric reviews
top_ten_reviews = sorted(numeric_reviews, reverse=True)[:10]

top_ten_reviews

[50163, 43672, 39110, 33480, 32129, 28658, 28172, 24041, 24022, 23786]

### 9. Responsibilities

In [27]:

# Data Preprocessing
if 'resposibilities' in jobs_df.columns:
    jobs_df['resposibilities'] = jobs_df['resposibilities'].str.strip()

    # Handle Missing Values
    missing_resposibilities = jobs_df['resposibilities'].isnull().sum()
    print(f"Number of missing resposibilities: {missing_resposibilities}")

    if missing_resposibilities > 0:
        jobs_df['resposibilities'].fillna('Not specified', inplace=True)
        print("Missing resposibilities filled with 'Not specified'.")

    # Text Normalization
    jobs_df['resposibilities'] = jobs_df['resposibilities'].str.lower().str.replace('[^a-zA-Z\s]', '', regex=True)

    # Keyword Extraction
    vectorizer = CountVectorizer(stop_words='english', max_features=20)
    X = vectorizer.fit_transform(jobs_df['resposibilities'])
    keywords = vectorizer.get_feature_names_out()

    print("\nTop 20 keywords in job resposibilities:")
    print(keywords)

    # Verify the Changes
    print("\nFirst few rows of the cleaned 'resposibilities' column:")
    print(jobs_df['resposibilities'].head())
else:
    print("'resposibilities' column is not present in the DataFrame.")

Number of missing resposibilities: 500
Missing resposibilities filled with 'Not specified'.

Top 20 keywords in job resposibilities:
['agenttiedbusinessagencydstchanneldirectteam' 'business'
 'channelbfsiagencyteam' 'communication' 'customer' 'data' 'design'
 'development' 'handlingadvisorstrainingbranch' 'management' 'manager'
 'office' 'process' 'product' 'sales' 'skills' 'team' 'tiedagency'
 'training' 'voice']

First few rows of the cleaned 'resposibilities' column:
0         customer servicesalesrelationship management
1    product managementmarket analysischange manage...
2    business processchange managementteam manageme...
3    business processchange managementteam manageme...
4    sap bopl  sqloracle sqlsap business objects  x...
Name: resposibilities, dtype: object

### 10.Posted_on , Job_link and Company_link

In [17]:
# List of columns to drop
columns_to_drop = ['posted_on', 'job_link', 'company_link']

# Check if columns exist before dropping them
columns_present = [col for col in columns_to_drop if col in jobs_df.columns]
jobs_df.drop(columns=columns_present, inplace=True)

# Verify the changes
print("Columns after deletion:")
print(jobs_df.columns)

Columns after deletion:
Index(['job_id', 'job_role', 'company', 'experience', 'salary', 'location',
       'rating', 'reviews', 'responsibilities', 'upper_experience',
       'experience_category', 'upper_salary', 'salary_band',
       'location_cluster', 'numeric_reviews'],
      dtype='object')

# 6.INFO

In [18]:
# Create a copy of the DataFrame to avoid modifying the original dataset
df_copy = jobs_df.copy()

# Drop the 'experience' column and replace 'experience_category' with 'experience'
if 'experience' in df_copy.columns:
    df_copy.drop(columns=['experience'], inplace=True)

if 'experience_category' in df_copy.columns:
    df_copy.rename(columns={'experience_category': 'experience'}, inplace=True)

# Drop the 'salary' column and replace 'salary_band' with 'salary'
if 'salary' in df_copy.columns:
    df_copy.drop(columns=['salary'], inplace=True)

if 'salary_band' in df_copy.columns:
    df_copy.rename(columns={'salary_band': 'salary'}, inplace=True)

# Drop the 'upper_experience' column
if 'upper_experience' in df_copy.columns:
    df_copy.drop(columns=['upper_experience'], inplace=True)

# Drop the 'reviews' column and replace 'numeric_reviews' with 'reviews'
if 'reviews' in df_copy.columns:
    df_copy.drop(columns=['reviews'], inplace=True)

if 'numeric_reviews' in df_copy.columns:
    df_copy.rename(columns={'numeric_reviews': 'reviews'}, inplace=True)

# Drop the 'upper_salary' column
if 'upper_salary' in df_copy.columns:
    df_copy.drop(columns=['upper_salary'], inplace=True)

# Display the DataFrame
print("\nUpdated DataFrame:")
print(df_copy)

# Save the updated DataFrame to a local CSV file
output_file_path = 'updated_jobs.csv'
df_copy.to_csv(output_file_path, index=False)

print(f"The updated DataFrame has been saved to {output_file_path}")

Updated DataFrame:
               job_id                                           job_role  \
0       70123006070.0      Branch Banking - Calling For Women Candidates
1       60123905908.0                       Product Owner Senior Manager
2       60123905898.0  Employee Relations And Policies Associate Manager
3       60123905897.0         Employee Relations And Policies Specialist
4       60123008332.0                                  Sap Bo Consultant
...               ...                                                ...
73762   20123002989.0            Partner Success Executive/Edtech/Punjab
73763   20123002957.0            Partner Success Associate/Edtech/Punjab
73764  231222003986.0  Hiring For International Voice Process | Gurga...
73765  171220001449.0                                   Fresher Engineer
73766   71022008732.0            Anatomy Trainer - Part Time / Full Time

                     company          location  rating  \
0                  Hdfc Bank       Delhi / Ncr     4.0
1                  Accenture       Delhi / Ncr     4.1
2                  Accenture       Delhi / Ncr     4.1
3                  Accenture       Delhi / Ncr     4.1
4                   Mindtree       Delhi / Ncr     4.1
...                      ...               ...     ...
73762       Parth Associates  Permanent Remote     4.0
73763       Parth Associates  Permanent Remote     4.0
73764   First Step Solutions  Gurgaon/Gurugram     4.0
73765                 Sofcon  Permanent Remote     2.8
73766  Indian Healthcare Bpo  Permanent Remote     4.0

                                        responsibilities experience  \
0         Customer Service,Sales,Relationship Management     Senior
1      Product management,Market analysis,Change mana...     Expert
2      Business process,Change management,Team manage...     Senior
3      Business process,Change management,Team manage...     Senior
4      SAP BO,PL / SQL,Oracle SQL,SAP Business Object...     Senior
...                                                  ...        ...
73762  CRM,Communication Skills,Presentation Skills,C...     Medium
73763  CRM,Communication Skills,Presentation Skills,C...     Medium
73764  Customer Service,US Process,Hospitality,Custom...     Medium
73765  ENGINEERING,B Tech Fresher,AutoCAD,Degree,PLC,...     Junior
73766  Lecturer Activities,Nursing Education,Trainer,...     Senior

              salary  location_cluster  reviews
0      Not Disclosed                 0    39110
1      Not Disclosed                 0    32129
2      Not Disclosed                 0    32129
3      Not Disclosed                 0    32129
4      Not Disclosed                 0     3759
...              ...               ...      ...
73762           Good                 7      225
73763           Good                 7      225
73764         Medium                 3      225
73765  Not Disclosed                 7        3
73766  Not Disclosed                 7      225

[73008 rows x 10 columns]
The updated DataFrame has been saved to updated_jobs.csv